/**{
        margin:0;
        padding:0;
        font-family:'黑体'
}*/
.main{
        width:20rem;
        margin:0 auto;
        font-family:微软雅黑,Helvetica,Microsoft YaHei;
        /*background:#FFF*/
}
table{
        table-layout:fixed;
        border:2px solid #333;
        box-sizing: border-box;
        line-height: 0;
}
.tb{
        width: 20rem;
        height: 20rem;
}
.tb .tb_1{
        width: 100%;
        height: 100%
}
.tb .tb_1 td{
        border:1px solid #999;
        text-align:center;
        font-weight: bold;
        font-size: 1.5rem;
}
.tb .wrong{color:#f00}
.tb .td_style{ background:#FF9}


.btn{
        width: 20rem;
        border:0px solid #000;
}
.btn input{
        width: 25%;
        line-height: 2rem;
        font-size: 1.5rem;
        float: left;
}
.btn .input_style{
        background-color: #337ab7;
        border-color: #2e6da4;
}